

<h1>Home#index</h1>
<p>Welcome to the time tracker.  With this app you can...</p>
<ul>
  <li><b>gain visibility</b> in how much time you spend on various tasks during your day</li>
  <li><b>identify</b> where you spend too much time doing things you don't want to</li>
  <li><b>measure</b> your time usage against what you want to spend your time doing</li>
  <li><b>analyse</b> how you can recover all that lost time</li>
  <li><b>improve continuously</b> to meet those goals</li>
</ul>

